html, body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

p {
  margin: 0;
}

.container {
  width: 100%;
  padding: 10px 20px 20px;
  background-color: #f1f1f1;
}

.header {
  display: table;
}

.header .image {
  display: table-cell;
  vertical-align: middle;
  padding-right: 10px;
}

.header .title {
  display: table-cell;
  vertical-align: middle;
  text-align: justify;
}

.header .avatar {
  width: 45px;
  height: 45px;
}

.text-upper-case {
  text-transform: uppercase;
}

.text-danger {
  color: #D9001B !important;
}

.text-warning {
  color: #ffc107 !important;
}

.text-success {
  color: #28a745 !important;
}

.d-table {
  display: table;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ticket-list {
  width: calc(100% - 250px);
}

.ticket-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ticket-list__item p {
  width: calc(100% - 60px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media only screen and (min-width: 500px) {
  .ticket-list__item p {
    white-space: inherit;
  }
}

.ticket-list__item a {
  width: 60px;
  font-weight: 700;
  color: #337AB7;
  text-decoration: underline;
}

.w-250p {
  width: 250px;
}

.d-table-cell {
  display: table-cell;
}

.vertical-align-middle {
  vertical-align: middle;
}

.list {
  width: 100%;
  padding-right: 40px;
}

.list__item {
  line-height: 40px;
  border-bottom: 1px solid #e4e4e4;
}

.list-item {
  line-height: 40px;
  border-bottom: 1px solid #e4e4e4;
}

.files {
  width: 100%;
  margin-top: 25px;
}

.file-item {
  color: #337ab7;
  text-decoration: none !important;
  -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
}

.file-item:hover {
  color: #173853;
}

section.body {
  background-color: #fff;
  padding: 20px;
}

.ticket-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.box {
  margin-top: 20px;
}

.box__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 35px;
  background-color: #c4d9e6;
  border-radius: 5px 5px 0 0;
}

@media only screen and (min-width: 500px) {
  .box__header {
    width: 300px;
  }
}

.box__header span {
  padding-left: 10px;
  line-height: 35px;
}

.box__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: 50px;
  border: 1px solid #e4e4e4;
  padding: 10px 0;
}

@media only screen and (min-width: 500px) {
  .box__body {
    border-radius: 0 5px 5px 5px;
  }
}

.box__footer {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.box__footer * {
  padding-right: 5px;
  height: 100%;
}

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 12px;
  line-height: 1;
  border-radius: .25rem;
  -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  text-decoration: none !important;
  cursor: pointer;
}

.btn-danger {
  color: #fff !important;
  background-color: #dc3545;
  border-color: #dc3545;
}

.btn-danger:hover {
  color: #fff;
  background-color: #c82333;
  border-color: #bd2130;
}

.btn-success {
  color: #fff !important;
  background-color: #28a745;
  border-color: #28a745;
}

.btn-success:hover {
  color: #fff;
  background-color: #218838;
  border-color: #1e7e34;
}

.pay-result {
  display: block;
  text-align: center;
  margin-top: 15px;
}

.pay-result .btn-reject {
  margin-right: 10px;
}

.btn-detail {
  border-radius: 12px;
  background-color: #4099ff;
  color: #fff !important;
  font-size: 12px;
  padding: 0 10px;
  line-height: 1.5;
  height: 20px;
}

.btn-detail:hover {
  background-color: #0d7eff;
}

.items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.item {
  display: block;
  min-height: 20px;
  padding: 0 10px;
  text-align: justify;
  line-height: 1.2;
}

@media only screen and (min-width: 500px) {
  .item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 100%;
    width: 100%;
  }
  .item span, .item span.im {
    width: 100%;
  }
  .item span div, .item span.im div {
    width: 100%;
  }
}

.item .before {
  background-color: #ffebe6;
  padding: 2px 10px;
  margin-right: 5px;
  width: 100%;
  text-decoration: line-through;
}

@media only screen and (min-width: 500px) {
  .item .before {
    max-width: 45%;
  }
}

.item .arrow {
  width: 100%;
}

.item .arrow .desktop {
  display: none;
}

.item .arrow .mobile {
  display: table;
  margin: 0 auto;
}

@media only screen and (min-width: 500px) {
  .item .arrow {
    width: 20px;
    display: table;
    height: 100%;
  }
  .item .arrow .mobile {
    display: none;
  }
  .item .arrow .desktop {
    display: table-cell;
    vertical-align: middle;
  }
}

.item .after {
  background-color: #e3fcef;
  padding: 2px 10px;
  width: 100%;
}

@media only screen and (min-width: 500px) {
  .item .after {
    margin-left: 5px;
    max-width: calc(100% - 45% - 30px);
  }
}

.footer {
  margin-top: 10px;
  font-size: 12px;
  color: grey;
  line-height: 1.5;
}

p, span {
  color: #222 !important;
}

.comment-container {
  width: 100%;
  padding: 10px 20px 10px 0;
}
/*# sourceMappingURL=main.css.map */