html, body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

p {
  margin: 0;
}

.container {
  width: 100%;
  padding: 20px;
  background-color: #f1f1f1;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .title {
  line-height: 1.5;
}

@media only screen and (min-width: 500px) {
  .header .title {
    line-height: 2.5;
  }
}

.avatar {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.text-upper-case {
  text-transform: uppercase;
}

section.body {
  background-color: #fff;
  padding: 20px;
}

.box {
  margin-top: 20px;
}

.box__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 35px;
  background-color: #c4d9e6;
  border-radius: 5px 5px 0 0;
}

@media only screen and (min-width: 500px) {
  .box__header {
    width: 300px;
  }
}

.box__header span {
  padding-left: 10px;
  line-height: 35px;
}

.box__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: 80px;
  border: 1px solid #e4e4e4;
  padding: 10px 0;
}

@media only screen and (min-width: 500px) {
  .box__body {
    border-radius: 0 5px 5px 5px;
  }
}

.box__footer {
  margin-top: 10px;
  display: inline-block;
  line-height: 24px;
}

.btn-detail {
  font-size: 12px;
  text-decoration: none;
  border-radius: 12px;
  background-color: #4099ff;
  color: #fff !important;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border: 1px solid transparent;
  padding: 2px 5px;
  line-height: 1.5;
  margin-left: 5px;
}

.items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.item {
  display: block;
  min-height: 20px;
  padding: 0 10px;
  text-align: justify;
  line-height: 1.2;
}

@media only screen and (min-width: 500px) {
  .item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.item .before {
  background-color: #ffebe6;
  padding: 2px 10px;
  margin-right: 5px;
  width: 100%;
  text-decoration: line-through;
}

@media only screen and (min-width: 500px) {
  .item .before {
    max-width: 45%;
  }
}

.item .arrow {
  width: 100%;
  opacity: 0;
}

@media only screen and (min-width: 500px) {
  .item .arrow {
    width: 20px;
    opacity: 1;
  }
}

.item .after {
  background-color: #e3fcef;
  padding: 2px 10px;
  width: 100%;
}

@media only screen and (min-width: 500px) {
  .item .after {
    margin-left: 5px;
    max-width: calc(100% - 45% - 30px);
  }
}

.footer {
  margin-top: 10px;
  font-size: 12px;
  color: grey;
  line-height: 1.5;
}
/*# sourceMappingURL=main.css.map */